.root{
    padding: 0%;
    width:0%;
    height: 0%;
  }
  .example-container {
    width: 100%;
    height: 100%;
  }
  .sidenav{
    width: 20%;
    height: inherit;
    background-color: khaki;
  
  }
  .dashboard{
  background-color: lightblue;
  
  }
  .buttonview{
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }